{% extends 'layout/layout.html.twig' %}

{% block page_title %}
	<i class="fa-solid fa-user-pen"></i>
	Clientes / Editar Cliente
{% endblock %}

{% block content %}
	<div class='container-fluid shadow bg-full-white rounded-3 padding'>
        {{ form_start(form, {'action': path('customer_edit', { 'id': user.getId }), 'method': 'POST'}) }}
			{{ form_widget(form) }}
		{{ form_end(form) }}
	</div>
{% endblock content %}
