{% extends 'layout/layout.html.twig' %}

{% block page_title %}
	<i class="fa-solid fa-user-plus"></i>
	Técnicos / Novo Usuário
{% endblock %}

{% block content %}
	<div class='container-fluid shadow bg-full-white rounded-3 padding'>
        {{ form_start(form, {'action': path('app_techs_new'), 'method': 'POST'}) }}
		{{ form_widget(form) }}
		<button type="button" class="add_item_link btn font-white bold bg-green mt-2" data-collection-holder-class="phone">Adicionar Telefone</button>
		{{ form_end(form) }}
	</div>
{% endblock content %}

{% block custom_js %}
<script type='text/javascript'>
	setTimeout(() => {
		document
			.querySelectorAll('.add_item_link')
			.forEach(btn => {
				btn.addEventListener("click", addFormToCollection)
			});
	}, 500);

	document
		.querySelectorAll('#new_user_phone li')
		.forEach((phone) => {
			addTagFormDeleteLink(phone)
		});

	var addFormToCollection = (e) => {
		const collectionHolder = document.querySelector('#new_user_phone');
		const item = document.createElement('li');
		const list = document.createElement('ul');

		if (isNaN(collectionHolder.dataset.index))
			collectionHolder.dataset.index = Number(0);

		item.innerHTML = collectionHolder
			.dataset
			.prototype
			.replace(
			/__name__/g,
			collectionHolder.dataset.index
			);

		list.appendChild(item);
		collectionHolder.appendChild(list);
		addTagFormDeleteLink(item);

		collectionHolder.dataset.index++;
	};

	var addTagFormDeleteLink = (item) => {
		const removeFormButton = document.createElement('button');
		removeFormButton.classList.add('btn-sm', 'btn-danger', 'mt-1');

		removeFormButton.innerText = 'Remover';

		item.append(removeFormButton);

		removeFormButton.addEventListener('click', (e) => {
			e.preventDefault();
			item.remove();
		});
	}
</script>
{% endblock %}