{% extends 'layout/layout.html.twig' %}

{% block page_title %}
	<i class="fa-solid fa-door-open"></i>
	Chamados Abertos
{% endblock %}

{% block content %}
	<div class='conainer-fluid'>
		<table class="table table-hover">
			<thead>
				<tr>
					<th scope="">Número</th>
					<th scope="col">Client</th>
					<th scope="col">Data Abertura</th>
					<th scope="col">Responsável</th>
					<th scope="col">Ações</th>
				</tr>
			</thead>
			<tbody>
				{% for ticket in tickets %}
                    <tr>
                        <td>{{ ticket.getTicketNumber}}</td>
                        <td>{{ ticket.getClient.getUserName}}</td>
                        <td>{{ ticket.getCreatedAt|date('d/m/Y')}}</td>
                        <td>{{ ticket.getResponsable.getUsername}}</td>
                        <td>
                            <button class='btn btn-sm bg-green font-white'>
                                Finalizar
                            </button>
                        </td>
                    </tr>
                {% endfor %}
			</tbody>
		</table>
	</div>
{% endblock content %}
