{% extends 'knp_menu.html.twig' %}

{% block linkElement %}
    {% import _self as knp_menu %}
        <a href="{{ item.uri }}"{{ knp_menu.attributes(item.linkAttributes) }} class='nav-link px-0 align-middle font-white'>
        {% if item.getExtra('icon') %}
            <i class="menu-icon fa fa-{{ item.getExtra('icon') }}"></i>
        {% endif %}
        &nbsp&nbsp<span class="mm-text">{{ block('label') }}</span></a>
{% endblock %}